@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root{
    --bg-color:#181C14;
    --primary-color:#9DBDFF;
    --secundary-color:#7E60BF;
    --font:"Nunito sans",sans-serif;
}